<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amanpandey.panditji">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PanditJi">
        <activity android:name="poojaSamagri.grihaPooja"></activity>
        <activity android:name="poojaSamagri.bhumiPooja" />
        <activity android:name="poojaSamagri.satyanarayanPooja" />
        <activity android:name="poojaSamagri.shadiPooja" />
        <activity android:name="poojaSamagri.laxmiPooja" />
        <activity android:name="poojaSamagri.ganeshPooja" />
        <activity android:name="Activity.UserChangePassword" />
        <activity android:name="Activity.UserProfile" />
        <activity android:name="Activity.UserDashBoard" />
        <activity android:name="Activity.UserLogin" />
        <activity android:name="Activity.PanditLogin" />
        <activity android:name="Activity.PanditDashboard" />
        <activity android:name="Activity.PanditRegistartion" />
        <activity android:name="Activity.Onboarding" />
        <activity android:name="Activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Activity.UserRegistration" />
    </application>

</manifest>